*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
  background: none;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 16px;
}
body{
  background-color: rgb(15, 15, 49);
}
.NavBar{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px;
  background-color: black;

}

.logo{
  display: flex;
  width: 60px;
height: 60px;
gap: 5px;
align-items: flex-start;
color: white;
font-size: 13px;

}
#LoginBtn{
  border-radius: 10px;
}
.DripDistrict{
  color: white;
font-size: 15px;
font-weight: 700;
margin: 10px;


}
#LogoImg , #CartLogo{
   width: 50px;
height: 40px;

}
#Cart-Btn{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: none;
}
.Search-Cart{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
  
}
#SearchInput{
  padding: 4px 8px; 
  height: 30px;
  width: 130px;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 1px solid grey ;
  font-size: 14px; 
  font-weight: 500;        
}

.CartIconWrap{
 position: relative;
  display: inline-block;
  
}
#CartCount{
  position: absolute;
  top: -4px;
  right: 5px;
   color: red;
  font-size: 12px;
  
}
.Links>a{
  margin-right: 10px;
  color: white;
  text-decoration: none;

}
.Links a:hover{
  text-decoration: underline;
}
.MidTable,.Products{
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 20px auto;
  background-color: none;
   border: solid 3px grey;
  border-radius: 8px;
}
.MidTable{
  display: flex;
  justify-content: space-between;
 align-items: flex-start;

}
.LeftMidTable{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  

}
.RightMidTable{
   display: flex;
  flex-direction: column;
  gap: 15px;
   border: 1px solid #ccc;       
  border-radius: 10px;
  padding: 30px;
  margin-right: 30px;
  background-color: #22283a; 
  width: 400px;
  color:white
}

h3{
  font-weight: bold;
}
#BtnsInNewArrivals button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#BtnsInNewArrivals button:hover {
  box-shadow: 0 6px 10px whitesmoke;
  transform: translateY(-2px);
  
}

#BtnsInNewArrivals>#AllBtn{
  border-radius: 18px;
}


.Products{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
  
}
.Card{
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #22283a;
  width: 350px;
  display: flex;
  flex-direction: column;  
}
.ProductImg{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(32, 47, 71);
  border-radius: 8px;

}
.ProductImg img{
  width: 80%;
  height: 95%;
  object-fit: cover;
}
.ProductContent{
  display: flex;
  border-top: 1px grey solid;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.Title{
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.ReadMore{
  font-size: 12px;
  color: grey;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price{
  font-weight: bold;
  font-size: 15px;
  color: white;

}
.RowBtns button{
  padding: 6px 7px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
}

.ReadMoreBtn{
  background-color: #101523;
  color: white;
}
.AddItemBtn{
  background-color: lightcyan;
  color: black;

}

.BtnBeforeFooter{
  width: 100%;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 10px;
  background-color:black;
  padding: 15px;
  border-bottom: solid 2px white;
}
.BackToTopBtn{
  border: none;
  font-size: 13px;
  font-weight: 600;
  
}
.FooterPage{
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: black;
  color: white;
  justify-content: space-between;
   flex-wrap: wrap;
  padding: 20px;
  

}
footer{
 
  color: white;
  position: static;
  width: 100%;
}
.AboutFooter,.ContactFooter,.SocialsFooter{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-width: 300px;

}

.UpperRow{
  padding-top: 10px;
  padding-bottom: 10px;
}
.SocialsBtn{
  border-radius: 10px;
  margin-right: 5px;
}


.CopyRight{
   width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 10px;
  background-color:black;
  padding: 10px;
}

.CartSideBar{
  height: 100%;
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  padding: 20px;
  color: white;
  background-color: #111d3c;
  z-index: 20;/* Sits on top of overlay */
  transition: right 0.5s ease;
  
}
.CartSideBar.open{
right: 0;
}
#Overlay{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 15; /*sits behind sidebar and Product Modal (Read More button)*/
  pointer-events: none;
}
#Overlay.active{
  opacity:1;
  pointer-events: auto;
}
.SideBarHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}
#CloseBtn{
padding: 7px 12px;
border-radius: 8px;
}
.ProductsListing{
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: auto;
}
.ListingCard{
  display: flex;
  align-items: center;
  background-color: #292f46;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.ListingImg{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.ListingImg img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.ListingContent{
  flex: 1;
}
.ListingTitle{ 
  font-weight: 600;
}
.ListingDescription{
  font-size: 11px;
  color: grey;
  margin-bottom: 4px;
}
.ListingBtns{
  display: flex;
  align-items: center;
  
}
.Increment-decrementbtn{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.NumberOfProducts{
  font-weight: 600;
}
.RemoveProduct{
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 13px;
}
.ListingPrice{
  font-weight: bold;
}
.CartFooter{
  border-top: 1px solid white;
  margin-top: 15px;
  padding-top: 10px ; 
}
.Subtotal{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: 800;
}
#TaxesFees{
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}
#CheckOutBtn{
  width: 100%;
  background-color: lightcyan;
  color: #22283a;
  border-radius: 8px;
  font-size: 15px;  
}
.SizeWrap{
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
}
.sizeSelect{
  color: white;
  background-color: #101523;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 2px;
}
.ProductModal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #22283a;
  padding: 20px;
  width: 750px;
  z-index: 18;
  color: white;
  border-radius: 10px;
   display: none;

}
.ProductModal.active{
  display: block;
}
.ModalContent{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.ModalImg{
  flex: 1;
}
.ModalImg img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  height: auto;
}
.ModalDetails{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.CloseModal{
  display: flex;
  justify-content: flex-end;
}
.CloseProduct{
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
#ModalTitle{
  font-size: 25px;
  font-weight: 800;
}
#ModalDesc{
  font-size: 15px;
  color: beige;
}
#ModalPrice{
  font-weight: 700;
  font-size: 20px;
}
.BottomOfModal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.QtyWrap{
  display: flex;
  align-items: center;
  gap: 8px;
}
.QtyBtn{
  color: white;
  border: none;

}
#ProductDetailsLink{
  color: lightcyan;
  font-size: 14px;
  margin-top: 8px;
  display: inline-block;
  text-decoration: underline; /* since we removed the underline in the links on top*/
}

