*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
  background: none;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 16px;
}
body{
  background-color: rgb(15, 15, 49);
}
.NavBar{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  padding: 10px;
  background-color: black;

}

.logo{
  display: flex;
  width: 60px;
height: 60px;
gap: 5px;
align-items: flex-start;
color: white;
font-size: 13px;

}
#LoginBtn{
  border-radius: 10px;
}
.DripDistrict{
  color: white;
font-size: 15px;
font-weight: 700;
margin: 10px;


}
#LogoImg , #CartLogo{
   width: 50px;
height: 40px;

}
#Cart-Btn{
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: none;
}
.Search-Cart{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
  
}
#SearchInput{
  padding: 4px 8px; 
  height: 30px;
  width: 130px;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 1px solid grey ;
  font-size: 14px; 
  font-weight: 500;        
}

.CartIconWrap{
 position: relative;
  display: inline-block;
  
}
#CartCount{
  position: absolute;
  top: -4px;
  right: 5px;
   color: red;
  font-size: 12px;
  
}
.Links>a{
  margin-right: 10px;
  color: white;
  text-decoration: none;

}
.Links a:hover{
  text-decoration: underline;
}
.MidTable,.Products{
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 20px auto;
  background-color: none;
   border: solid 3px grey;
  border-radius: 8px;
}
.MidTable{
  display: flex;
  justify-content: space-between;
 align-items: flex-start;

}
.LeftMidTable{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  

}
.RightMidTable{
   display: flex;
  flex-direction: column;
  gap: 15px;
   border: 1px solid #ccc;       
  border-radius: 10px;
  padding: 30px;
  margin-right: 30px;
  background-color: #22283a; 
  width: 400px;
  color:white
}

h3{
  font-weight: bold;
}
#BtnsInNewArrivals button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#BtnsInNewArrivals button:hover {
  box-shadow: 0 6px 10px whitesmoke;
  transform: translateY(-2px);
  
}

#BtnsInNewArrivals>#AllBtn{
  border-radius: 18px;
}


.Products{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
  
}
.Card{
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #22283a;
  width: 350px;
  display: flex;
  flex-direction: column;  
}
.ProductImg{
  width: 100%;
  height: 300px;

}
.ProductContent{
  display: flex;
  border-top: 1px grey solid;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.Title{
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.ReadMore{
  font-size: 12px;
  color: grey;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price{
  font-weight: bold;
  font-size: 15px;
  color: white;

}
.RowBtns button{
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;


}
.ReadMoreBtn{
  background-color: #101523;
  color: white;
}
.AddItemBtn{
  background-color: lightcyan;
  color: black;

}

.BtnBeforeFooter{
  width: 100%;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 10px;
  background-color:black;
  padding: 15px;
  border-bottom: solid 2px white;
}
.BackToTopBtn{
  border: none;
  font-size: 13px;
  font-weight: 600;
  
}
.FooterPage{
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: black;
  color: white;
  justify-content: space-between;
   flex-wrap: wrap;
  padding: 20px;
  

}
footer{
 
  color: white;
  position: static;
  width: 100%;
}
.AboutFooter,.ContactFooter,.SocialsFooter{
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-width: 300px;

}

.UpperRow{
  padding-top: 10px;
  padding-bottom: 10px;
}
.SocialsBtn{
  border-radius: 10px;
  margin-right: 5px;
}


.CopyRight{
   width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 10px;
  background-color:black;
  padding: 10px;
}

