body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #000000 0%, #050533 35%, #00008B 70%, #0000FF 100%);
    color: white;
    min-height: 100vh;
}

.MidTable {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    background: rgba(10, 15, 35, 0.25);
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    border-radius: 12px;
}

.LeftMidTable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 55%;
}

.LeftMidTable h2 {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 5px;
}

.CInput {
    width: 100%;
    padding: 12px;
    font-size: 15px;

    background-color: #0F1135;
    color: white;

    border: 1px solid #2D2D57;
    border-radius: 10px;

    outline: none;
}

.CInput:focus {
    border-color: #3D7BFF;
    box-shadow: 0 0 10px #4FF2FF;
}

.Area {
    height: 150px;
    resize: none;
}

.RightMidTable {
    width: 380px;
    padding: 25px;

    background-color: #1A1F3F;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.RightMidTable h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.SummaryBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.SummaryItem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 15px;
}

.TotalText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 12px;
    border-top: 2px solid rgba(255,255,255,0.3);
}

.CheckoutBtn {
    width: 100%;
    padding: 12px;

    background-color: #3D7BFF;
    border: 1px solid #1F4CEB;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;

    transition: 0.2s ease;
}

.CheckoutBtn:hover {
    background-color: #6DA6FF;
    box-shadow: 0 0 12px #4FF2FF;
}
