*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #0d1527;
    color: white;
    line-height: 1.6;
}
#headertitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    
}
#headertitle h1{
    font-size: 2.5rem;
    margin-left: 200px;
}
#headertitle .shownumitem{
    font-size: 1.2rem;
    margin-right: 40px;
    color: #cccccc6f;
}
.category{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    padding: 20px 100px;
    background-color: #1a2c57;
    margin: 70px;
    margin-top: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
}
.lin1{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.specification{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
button{
    padding: 10px 20px;
    background-color: #0b8eea;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
button:hover{
    background-color: #094d80;
}
#searchinput{
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0d1527;
    width: 300px;
}
select{
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #0d1527;
    cursor: pointer;
}
.Card{
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #22283a;
  width: 350px;
  display: flex;
  flex-direction: column;  
  margin-left: 90px;
}
.ProductImg{
  width: 100%;
  height: 300px;

}
.ProductContent{
  display: flex;
  border-top: 1px grey solid;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.Title{
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.ReadMore{
  font-size: 12px;
  color: grey;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price{
  font-weight: bold;
  font-size: 15px;
  color: white;

}
.RowBtns button{
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;


}
.ReadMoreBtn, .AddItemBtn{
  background-color: #101523;
  color: white;
}
